* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #1d202b;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.contenedor {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 40px 0;

  /* *Flexbox */
  /* display: flex; */
  /* * uso de Flexbox */
  /* gap: 20px; */
  /*  * Hace que los elementos tengan un espaciado entre ellos.*/

  /* * Grid */
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: 1fr auto;
  grid-template-columns: 3fr 1fr;
  /* * Recomendación: Usar css-grid para realizar la esctructura (filas, columnas, grilla) de la página y flexbox para alinear elementos (elementos y espaciado de cajas dentro de esos elementos) */
  gap: 20px;
}

.titulo {
  font-size: 24px;
  padding: 20px 0;
}

.contenedor-conciertos {
  /* *Flexbox */
  /* width: 70%; */
  /* display: flex; */
  /*/* width: 33.33%; **/
  /* flex-wrap: wrap; */
  /*  * flex-wrap: wrap; facilita el tamaño individual en vez de usar porcentajes haciendo que los elementos se posicionen uno al lado del otro.*/
  /* gap: 20px; */

  /* * Grid */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  border-radius: 10px;
  min-height: 200px;
  font-weight: bold;
  padding: 20px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;

  /* * Flexbox */
  /* width: calc(33.33% - 12px); */
  /* width: calc(33.33% - 20px); */
  /* Al usar Flexbox para crear la estructura se hace necesario calcular el espacio entre los elementos. */
}

.card .textos {
  /* *height: 100%; */
  /* * Se hace necesario de que la caja tenga un ancho del 100% para que los textos tengan un espacio en el cual distribuirse*/
  height: 100%;

  /* * Flexbox */
  /* display: flex;
	flex-direction: column;
	justify-content: space-between;	 */

  /* * Grid */
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-rows: repeat(3, 1fr); */
  /* grid-template-rows: repeat(1fr 1fr); */
  /* grid-template-rows: repeat(1fr auto); Esto no hace nada*/
  grid-template-rows: 1fr auto;
}

.banner {
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  background-size: cover;
  background-position: center center;

  /* *Flexbox */
  /* width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;	 */


	  /* * Grid */
  display: grid;
  grid-template-rows: auto auto auto;
  align-items: center;
}

.banner ul {
  list-style: none;
}

.banner ul li {
  margin: 15px;
  font-weight: bold;
}

.banner .boton {
  background: #ffd600;
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: 100px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 700px) {
}

@media screen and (max-width: 600px) {
}
